<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>舌苔测试</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="http://wx.iik-tech.com/addons/we7_research/static/layui/css/layui.css"  media="all">
    <script src="http://wx.iik-tech.com/addons/we7_research/static/js/echarts.min.js"></script>



</head>
<style>
    *{
        margin: 0;
        padding: 0;
    }

    .zhuti{
        width: 100%;
        height: 600px;

    }
    .bgzhuti{
        width:100%;
        height:auto;
        object-fit: cover;
    }

    .result{
        position:absolute;
        width: 80%;
        left: 10%;
        right: 10%;
        top: 380px;
        font-family: Microsoft YaHei;
        font-size: 18px;
        color: #4A4A4A;
        letter-spacing: -0.17px;
        text-align: justify;

    }


</style>

<body>

<div class="zhuti">
    <img class="bgzhuti" src="http://wx.iik-tech.com/addons/we7_research/template/img/newres1.png">

    <div class="result">
        <p>
            {$b['result']}
        </p>
       <p>舌质{$b['chi_hen']}{$b['lie_wen']}颜色为{$b['tongue_quality_result']}{$b['run']}{$b['zao']}{$b['dianci']}{$b['ni']}{$b['pda']}{$b['lie_wen']}{$b['houbo']}</p>
    </div>

    <div class="layui-btn layui-btn-radius" style="background: #688952;font-size: 15px;width: 150px;position: absolute;left:10px;top: 640px">
        <a href="http://wx.iik-tech.com/app/index.php?i=2&c=entry&eid=62">查看历史测试结果</a> </div>
    <div class="layui-btn layui-btn-radius" style="background: #688952;font-size: 15px;position: absolute;top: 640px;right: 10px;width: 150px">
        <a href="http://wx.iik-tech.com/app/./index.php?i=2&c=entry&id=1&do=pg&m=we7_pg">测一测体质</a></div>
    <div  style="margin: 10% auto; width: 90% "> <span>本舌诊服务由颐宽（上海）科技有限公司提供，免费获取舌诊服务热线：18621895397（联系人：李先生）</span></div>
<!--    <div class="layui-btn layui-btn-radius" style="background: #688952;font-size: 15px;position: absolute;top: 630px;width: 80%;left: 10%;right: 10%">-->
<!--        填写您的意见</div>-->
</div>

<script src="http://wx.iik-tech.com/addons/we7_research/static/layui/layui.js" charset="utf-8"></script>
</body>
</html>